/* google font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

* {
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  max-width: 1100px;
  margin: 0 auto;
}

:root {
  --main-color: #51c3f0;
  --second-color: #ebeff2;
  --text-color: #022630;
  --bg-color: #fff;

  /* 陰影變量 */
  --box-shadow: 2px 2px 10px rgb(14 15 54 / 15%);
}

/* 隱藏 input[type="number"] 增加和減少箭頭 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* 標題 */
header {
  display: flex;
  align-items: center;
}

header .fa {
  font-size: 3rem;
  padding: 20px;
  color: var(--main-color);
}

header .logo {
  font-size: 2rem;
  color: var(--main-color);
}

header .fa:hover {
  color: var(--text-color);
}

header a:hover {
  color: var(--text-color);
}

header h2 {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
  font-style: italic;
}

/* 購物車 */
.list li {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  margin-top: 10px;
  border: 2px solid #ccc;
  margin: 10px;
  padding: 5px;
}

.list li div {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0;
  padding: 0 10px;
  align-items: center;
}

.list li img {
  width: 30%;
}

.cartdiv .quantity-input {
  width: 35px;
  border: none;
  text-align: center;
  font-weight: bold;
}

.list button {
  width: 2rem;
  border: none;
  background: var(--main-color);
  cursor: pointer;
}

.list .fa {
  padding: 20px;
  font-size: 1.5rem;
  color: var(--main-color);
  cursor: pointer;
}

.list .fa:hover {
  background: var(--text-color);
  color: var(--bg-color);
  transition: 0.2s;
  border-radius: 50%;
}

.cart p {
  width: 100%;
  height: 3rem;
  text-align: center;
  margin: 0px;
  padding: 10px;
}

.cart span {
  font-weight: bold;
}

.cart .buytotal {
  position: relative;
  bottom: 0;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cart .closeCart {
  background: #636363;
  color: var(--bg-color);
  height: 50px;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-content: center;
}

.cart .total {
  height: 50px;
}

/* 付款資訊 */
.orderform {
  display: none;
}

.credit-card {
  margin: 10px;
  font-weight: bold;
  color: var(--text-color);
  font-size: 20px;
}

.payment-option {
  padding: 15px;
  cursor: pointer;
}

.payment-option input[type="radio"] {
  display: none;
}

.credit-card input[type="radio"] + i.fa-circle-check {
  color: #ccc;
  font-weight: normal;
  cursor: pointer;
}

.credit-card input[type="radio"]:checked + i.fa-circle-check {
  color: #ff0000;
  font-weight: bold;
}

.credit-input input {
  width: 98%;
  background-color: #dddada;
  border: none;
  margin: 10px;
  border-radius: 3px;
  padding: 10px;
}

.three-input {
  display: flex;
  justify-content: space-between;
}

.credit-input textarea {
  width: 98%;
  background-color: #dddada;
  border: none;
  margin: 10px;
  border-radius: 3px;
  padding: 10px;
}

.credit-input input:focus,
.credit-input textarea:focus {
  background-color: #add8e6;
  /* 淺藍色 */
}

.order-submit {
  position: relative;
  left: 83%;
  margin-top: 10px;
  padding: 0.7rem 4rem;
  background: var(--main-color);
  color: var(--text-color);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.order-submit:hover {
  background: var(--text-color);
  color: var(--second-color);
  letter-spacing: 3px;
}

.buybtn {
  position: relative;
  left: 85%;
  margin-top: 10px;
  padding: 0.7rem 4rem;
  background: var(--main-color);
  color: var(--text-color);
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}

.buybtn:hover {
  background: var(--text-color);
  color: var(--second-color);
  letter-spacing: 3px;
}

.payment {
  font-size: 20px;
  z-index: 99999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

.payment.OK {
  color: green;
  background-image: radial-gradient(yellow, white);
}

.payment.NO {
  color: red;
  background-image: radial-gradient(yellow, white);
}

.payment.cart-NO {
  color: red;
  background-image: radial-gradient(yellow, white);
}

/* RWD響應式 */
@media (max-width: 700px) {
  body {
    width: 700px;
  }

  .buybtn {
    position: relative;
    left: 74%;
  }

  .order-submit {
    position: relative;
    left: 74%;
  }
}

@media (max-width: 480px) {
  body {
    width: 480px;
  }

  header .fa {
    font-size: 2rem;
  }

  header .logo {
    font-size: 1.2rem;
    color: var(--main-color);
  }

  header h2 {
    font-size: 1.5rem;
  }

  .list li div {
    font-size: 0.9rem;
  }

  .list li img {
    width: 70%;
  }

  .credit-card {
    font-size: 16px;
  }

  .three-input {
    display: inline-block;
    width: 100%;
  }

  .buybtn {
    position: relative;
    left: 65%;
  }

  .order-submit {
    position: relative;
    left: 65%;
  }
}

@media (max-width: 380px) {
  body {
    width: 380px;
  }

  .cartdiv .quantity-input {
    width: 15px;
  }

  .cartdiv .fa {
    width: 0px;
    font-size: 1rem;
    padding: 10px;
  }

  .cartdiv button {
    width: 15px;
  }

  .buybtn {
    position: relative;
    left: 55%;
  }

  .order-submit {
    position: relative;
    left: 55%;
  }
}
